<div class="admin-card shadow-md">
  <div class="flex items-center justify-between w-full">
    <div class="admin-card-title">
      Products
    </div>
    <button routerLink="/admin/products/create">Create product</button>
  </div>

  <div class="admin-card-content">
    <table class="w-full">
      <thead>
        <th class="text-left">ID</th>
        <th class="text-left">Name</th>
        <th class="text-left">Price</th>
        <th class="text-left">Sale Price</th>
        <th class="text-center">Status</th>
        <th class="text-right">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="text-left">{{ product.id }}</td>
          <td class="text-left">{{ product.name }}</td>
          <td class="text-left">{{ product.price }}đ</td>
          <td class="text-left">{{ product.sale_price }}</td>
          <td class="text-center">
            <mat-slide-toggle [checked]="product.status == 1" (change)="onProductStatusChange(product, $event)"></mat-slide-toggle>
          </td>
          <td class="text-right">
            <button routerLink="/admin/products/{{ product.id }}" class="ml-2">
              Update
            </button>
            <button class="ml-2" (click)="onProductDelete(product)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
