<div class="product-item flex-1">
  <a routerLink="/product/{{ product.id }}" class="block border border-gray-300">
    <div class="product-image">
      <img src="{{ product.image_url }}" />
    </div>
    <div class="product-item-content border-t border-gray-300">
      <div class="product-item-title bold-text">{{ product.name }}</div>
      <div class="product-item-price">
        <span class="product-item-price-old">{{ product.price.toLocaleString() }}đ </span>
        <span class="product-item-price-now bold-text">{{ product.sale_price.toLocaleString() }}đ</span>
      </div>
      <a class="product-item-link" routerLink="/product/{{ product.id }}"> XEM CHI TIẾT </a>
    </div>
  </a>
</div>
