<div class="header">
  <div class="block w-full">
    <div class="container !h-24 flex justify-between items-center">
      <a routerLink="/" class="router-link-active router-link-exact-active header-logo" aria-current="page">
        <img src="/assets/images/logo.png">
      </a>
      <form class="header-search flex h-10 w-96 items-center" [formGroup]="formSearch" (ngSubmit)="onSearch()">
        <div class="h-10 w-full">
          <input class="px-2" placeholder="Tìm kiếm" formControlName="search">
        </div>
        <button class="h-10 w-16" type="submit">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
      </form>
      <div class="flex items-center">
        <a routerLink="/cart" class="text-3xl text-white">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </a>
        <a *ngIf="authService.IsLoggedIn" routerLink="/admin" class="ml-4 bg-gray-100 rounded px-2 py-1">
          {{ authService.email }}
        </a>
        <button *ngIf="authService.IsLoggedIn" class="ml-4 bg-gray-100 rounded px-2 py-1" (click)="authService.logout()">Logout</button>
        <a *ngIf="!authService.IsLoggedIn" routerLink="/login" class="ml-4 bg-gray-100 rounded px-2 py-1"> Login </a>
        <a *ngIf="!authService.IsLoggedIn" routerLink="/register" class="ml-4 bg-gray-100 rounded px-2 py-1"> Register </a>
      </div>
    </div>
  </div>
</div>
