<div class="admin-card shadow-md">
  <div class="flex items-center justify-between w-full">
    <div class="admin-card-title">
      Categories
    </div>
    <button routerLink="/admin/categories/create">Create category</button>
  </div>

  <div class="admin-card-content">
    <table class="w-full">
      <thead>
        <th class="text-left">ID</th>
        <th class="text-left">Name</th>
        <th class="text-right">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td class="text-left">{{ category.id }}</td>
          <td class="text-left">{{ category.name }}</td>
          <td class="text-right">
            <button routerLink="/admin/categories/{{category.id}}" class="ml-2">
              Update
            </button>
            <button class="ml-2" (click)="onCategoryDelete(category)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
