<div class="container flex my-10">
  <table class="cart-table">
    <thead>
      <th>SẢN PHẨM</th>
      <th>GIÁ</th>
      <th class="text-center">SỐ LƯỢNG</th>
      <th class="text-right">TỔNG</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <a routerLink="/" class="h-20 flex items-center">
            <img class="h-full" src="https://product.hstatic.net/200000122283/product/ra_bo_suoi_-_bm_adb6e4fc8bcf417da77823d80b49e7ff_master.jpg">
            QUẦN XÌ
          </a>
        </td>
        <td>100.000đ</td>
        <td class="text-center">2</td>
        <td class="text-right">200.000đ</td>
      </tr>
      <tr>
        <td>
          <a routerLink="/" class="h-20 flex items-center">
            <img class="h-full" src="https://product.hstatic.net/200000122283/product/ra_bo_suoi_-_bm_adb6e4fc8bcf417da77823d80b49e7ff_master.jpg">
            QUẦN XÌ
          </a>
        </td>
        <td>100.000đ</td>
        <td class="text-center">2</td>
        <td class="text-right">200.000đ</td>
      </tr>
    </tbody>
  </table>

  <div class="cart-info ml-8">
    <div class="bold-text pb-3 border-b w-full">
      TỔNG SẢN PHẨM
    </div>
    <div class="flex w-full justify-between mt-5">
      <span>
        Tổng phụ
      </span>
      <span class="bold-text">
        400.000đ
      </span>
    </div>
    <Button class="block w-full rounded px-4 py-2 mt-8 text-center">
      ĐẶT HÀNG
    </Button>
  </div>
</div>
