/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'URWDIN-Regular';
  src: url('/assets/fonts/URWDIN-Regular.eot');
  src: local('URW DIN Regular'), local('URWDIN-Regular'),
      url('/assets/fonts/URWDIN-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/URWDIN-Regular.woff2') format('woff2'),
      url('/assets/fonts/URWDIN-Regular.woff') format('woff'),
      url('/assets/fonts/URWDIN-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'URWDIN-Medium';
  src: url('~/assets/fonts/URWDIN-Medium.eot');
  src: local('URW DIN Medium'), local('URWDIN-Medium'),
      url('/assets/fonts/URWDIN-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/URWDIN-Medium.woff2') format('woff2'),
      url('/assets/fonts/URWDIN-Medium.woff') format('woff'),
      url('/assets/fonts/URWDIN-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

input {
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1288px;
  height: auto;
}

.bold-text {
  font-family: URWDIN-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: URWDIN-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
  line-height: 1.2;
}

body {
  font-family: URWDIN-Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.layout-content {
  flex: auto;
  min-height: 0;
  padding-bottom: 20px;
}

a {
  transition: color 0.3s ease-in-out;
}

form {
  button {
    background-color: #c89979 !important;
    color: #fff;
    transition: all 0.3s ease-in-out;
  
    &:disabled {
      background-color: #ccc !important;
      color: #fff;
    }

    &:hover {
      background-color: #e2b191 !important;
    }
  } 
}

.text {
  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-center {
    text-align: center !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.admin-card {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 12px;

  &-title {
    color: rgb(161, 161, 161);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    border-bottom: 2px solid rgb(161, 161, 161);
    padding-bottom: 8px;
    display: inline-block;
  }

  button {
    background-color: #c89979;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    margin-top: 12px;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(#c89979, 0.75)
    }
  }

  &-content {
    position: relative;
    margin-top: 24px;
    padding-bottom: 36px;
  }
}

.form-control {
  display: inline-block;
  padding: 0 8px;
  width: 25%;
  margin-top: 12px;

  > * {
    display: block;
  }

  input, textarea {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}